---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Forms">
  <article class="post-content">
    <h2>おすすめ飯屋・居酒屋フォーム</h2>
    <p>おすすめのご飯屋さん、居酒屋等飲食店を自由に投稿していただき、投稿された内容を元に私の方で紹介用の投稿を「うまい店」に投稿いたします。</p>
    <p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd6ym43Pg6EfMI9lKIShuCDYMFMvHDoiqNLxPvFQOGZ8lb6_w/viewform?usp=dialog">
        フォームを開く
      </a>
    </p>
  </article>
</BaseLayout>
