---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="うまい店一覧">
  <article class="post-content">
    <h2>うまい店一覧</h2>
    <p>おすすめの飲食店を随時追加予定です。</p>
    <p>おすすめのお店は<a href="/forms/">こちらのフォーム</a>からご投稿ください。</p>
  </article>
</BaseLayout>
